
<div class="col" id="postinfo" style="width: 40rem;">

  <div class="card-body">
    <div class="card-header d-flex justify-content-between">
      <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>

      <p class="card-text" id="username"><i class="fa-regular fa-circle-user text-muted"></i> {{user.name}}</p>
    </div>

    <img src= "{{img_url}}" class="card-img-top" alt="{{description}}">
  </div>
    <p class="card-body description">{{description}}</p>

  <ul class="list-group list-group-flush">
    <li class="list-group-item size">Size: {{size}}</li>
    <li class="list-group-item location">Location: {{location}}</li>
  </ul>
  <p class="card-text">{{format_date date_created}}</p>
</div>
