
<div class="card" id="postinfo" style="width: 40rem;">

  <div class="card-body">
    
    <h4 class="card-header"><a class="link" href="/post/{{id}}">{{title}}</a></h4>

    <img src= "{{img_url}}" class="card-img-top" alt="...">

    <p class="card-text" id="username">Posted by {{user.name}} on {{format_date date_created}}</p>

  </div>
  
    <p class="card-body description">{{description}}</p>

  <ul class="list-group list-group-flush">
    <li class="list-group-item size">Size: {{size}}</li>

    <li class="list-group-item location">Location: {{location}}</li>
  </ul>

{{!-- add route? --}}
 <button type="button" class="btn btn-primary"><a class="link" href="/edit-post/{{id}}">Edit Post</a></button>
</div>



