<div class="container my-5">
  <div class="row">
    <div class="col">
      <p class="fs-1" id="greeting"><i class="fa-regular fa-circle-user text-muted fa-custom"></i> Welcome back <span class="user-name">{{name}}</span>!</p>
    </div>
    
    <div class="col">
      <h3 class="bg-mg border-bottom">Your Information</h3>
      <div>
        {{!-- Create and add queries to update name and add location. Latter is not required, but recommended. Add query to update email, eventually doing one for password as well. Update email to require real one. --}}

        <div class="my-3">
          <div class="row g-1">
            <div class="col-auto">
              <label class="col-form-label" for="nameEdit">Name:</label>
            </div>

            <div class="col-auto">
              <input type="text" class="form-control" id="nameEdit" value={{name}} />
            </div>

            <div class="col-auto">
              <button type="submit">
                <i class="fa-solid fa-pen-to-square col-form-label"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="my-3">
          <div class="row g-1">
            <div class="col-auto">
              <label class="col-form-label" for="emailEdit">Location:</label>
            </div>

            <div class="col-auto">
              <input type="text" class="form-control" id="emailEdit" value={{location}} />
            </div>

            <div class="col-auto">
              <button type="submit">
                <i class="fa-solid fa-pen-to-square col-form-label"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="my-3">
          <h5><i class="fa-solid fa-gear"></i> Secret Settings</h5>
          <form class="row g-1">
            <div class="col-auto">
              <label class="col-form-label" for="emailEdit">Email:</label>
            </div>

            <div class="col-auto">
              <input required type="text" class="form-control" id="emailEdit" value={{email}} />
            </div>

            <div class="col-auto">
              <button type="submit">
                <i class="fa-solid fa-pen-to-square col-form-label"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Saved Listings</h3>

      {{!-- Create method to save post ids to an array and render them in this space. --}}
    </div>

    <div class="col">
      <div class="d-flex flex-row justify-content-between">
        <h3>Your Listings</h3>

        <a class="link" href="/new-post"><i class="fa-solid fa-plus text-muted add-post rounded-circle"></i></a>
      </div>

      {{#if posts.length}}
    
        {{#each posts as |post|}}

          {{> profile-postinfo post}}

        {{/each}}

      {{else}}
        <p class="text-muted">No posts yet, let's get selling!</p>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/add-post.js"></script>